RewriteEngine On
RewriteBase /

RewriteCond %{THE_REQUEST} public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]
RewriteRule ^((?!public/).*)$ /public/$1 [L,NC]

ErrorDocument 404 /errors/404.php
ErrorDocument 500 /errors/500.php

